<div class="task-form-card">
  <p-card [header]="id ? 'Edit Task' : 'New Task'">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">
      <div class="form-field">
        <label for="name" class="block">Title</label>
        <br />
        <input style="width: 100%" id="name" type="text" pInputText formControlName="name" placeholder="Enter task title" />
      </div>

      @if (selectedAssets) {
      <img [src]="selectedAssets?.image?.url" class="agent-card-image" />
      }
      <div class="field">
        <label for="agentCard">Agent Card</label>
        <p-dropdown
          [options]="agentOptions"
          [formControl]="taskForm.controls.agentCard.controls.id"
          [placeholder]="'Select an agent card'"
          optionLabel="label"
          optionValue="value"
          [style]="{ width: '100%' }"
          (onChange)="onAgentCardChange($event)"></p-dropdown>
      </div>

      <div class="form-field">
        <label for="idNotionDB" class="block" pTooltip="El agente tiene dominio sobre esta base de datos">Notion DB Id</label>
        <br />
        <p-dropdown
          styleClass="w-full"
          id="idNotionDB"
          [options]="dbOptions"
          formControlName="idNotionDB"
          placeholder="Select Notion DB"
          class="w-full">
        </p-dropdown>
      </div>

      <div class="form-field">
        <label for="taskType" class="block">Task Type</label>
        <br />
        <p-dropdown id="taskType" [options]="taskTypes" formControlName="taskType" placeholder="Select Task Type" class="w-full"> </p-dropdown>
      </div>

      <div class="form-field">
        <label for="description" class="block">Description</label>
        <textarea
          class="textmin"
          rows="3"
          pInputTextarea
          id="description"
          formControlName="description"
          placeholder="Enter task description"></textarea>
      </div>

      <div class="field">
        <label for="sources">Sources</label>
        <div class="p-inputgroup">
          <p-autoComplete
            lazy="true"
            [suggestions]="sourceSuggestions"
            optionLabel="name"
            optionValue="id"
            (completeMethod)="search($event)"
            [dropdown]="true"
            placeholder="Select a source"
            (onSelect)="selectSource($event)">
          </p-autoComplete>
          <button pButton type="button" icon="pi pi-plus" (click)="addSource()" [disabled]="!selectedSource"></button>
        </div>
        <br />

        <!-- Display selected sources -->
        <div class="selected-sources mt-2">
          <p-chip
            *ngFor="let source of taskForm.get('sources')?.value"
            [label]="source.name"
            [removable]="true"
            (onRemove)="removeSource(source)"
            class="mr-2 mb-2">
          </p-chip>
        </div>
      </div>

      <div class="form-field">
        <label for="status" class="block">Status</label>
        <br />
        <p-dropdown id="status" [options]="statuses" formControlName="status" placeholder="Select Status" class="w-full"> </p-dropdown>
      </div>

      <dc-provider-selector [parentForm]="taskForm"></dc-provider-selector>

      <div class="flex justify-content-end mt-4">
        <p-button type="submit" label="Save Task" [disabled]="!taskForm.valid" icon="pi pi-check" iconPos="right"> </p-button>
      </div>
    </form>
  </p-card>
</div>
