<div class="job-list-container">
  <div class="header">
    <h2>Jobs List</h2>
    <button class="add-button" (click)="addJob()">Add New Job</button>
  </div>

  <div class="jobs-grid">
    <div *ngIf="jobs.length === 0" class="no-jobs">No jobs found. Click 'Add New Job' to create one.</div>

    @for (job of jobs; track job.idAgentCard) {
    <p-card>
      <ng-template #header>
        <img height="30px" alt="Card" class="w-full" [src]="job.agentCard?.assets?.image?.url" />
      </ng-template>
      <ng-template #title> ID: {{ job.id }} </ng-template>
      <ng-template #subtitle> Id: {{ job.task.id }} - Nombre: {{ job.task.name }} - Agente: {{ job.agentCard.name }} </ng-template>
      <p>
        {{ job.response.content }}
      </p>
      <ng-template #footer>
        <div class="flex gap-4 mt-1">
          <div class="job-actions">
            <p-button label="Ver Detalles" (onClick)="viewJobDetails(job)" />
            <p-button label="Eliminar" severity="danger" (onClick)="deleteJob(job)" />
          </div>
        </div>
      </ng-template>
    </p-card>
    }
  </div>
</div>

@if (displayJobDetails) {
<p-dialog [(visible)]="displayJobDetails" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="job-details">
    <p>Messages</p>
    @for (message of selectedJob.messages; track message.id) {
    <p>{{ message.content }}</p>
    }

    <p>Response</p>
    <p>{{ selectedJob.response.content }}</p>
    <!-- Add more job details as needed -->
  </div>
</p-dialog>
}
