<dc-filter-bar (onNew)="onNew()"></dc-filter-bar>

<div class="flex flex-column gap-3">
  @for (task of tasks; track task.id) {
  <div style="margin-bottom: 10px" class="flex flex-column gap-3">
    <p-card [header]="task.name">
      <div>{{ task.description }}</div>

      <ng-template #footer>
        <div class="flex gap-4 mt-1 justify-content-end">
          <p-button severity="info" label="Ejecutar" class="w-full" styleClass="w-full" (onClick)="executeTask(task)" />
          <p-button severity="danger" label="Eliminar" class="w-full" styleClass="w-full" (onClick)="deleteTask(task)" />

          <p-button label="Editar" class="w-full" styleClass="w-full" (onClick)="editTask(task)" />
        </div>
      </ng-template>
    </p-card>
  </div>
  }
</div>
