<div class="task-form-card">
  <p-card [header]="id ? 'Edit Task' : 'New Task'">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">
      <div class="form-field">
        <label for="name" class="block">Title</label>
        <br />
        <input style="width: 100%" id="name" type="text" pInputText formControlName="name" placeholder="Enter task title" />
      </div>

      <div style="display: flex; gap: 15px">
        @for (agentCard of taskForm.controls.agentCards.value; track agentCard.id) {
        <div style="position: relative">
          <img [src]="agentCard.assets?.image?.url" class="agent-card-image" />
          <p-button
            size="small"
            [style]="{ position: 'absolute', top: '-10px', right: '-10px' }"
            icon="pi pi-times"
            [rounded]="true"
            [text]="true"
            severity="danger"
            class="remove-agent-button"
            (onClick)="removeAgentCard(agentCard)" />
        </div>
        }
      </div>

      <div class="field">
        <label for="agentCard">Agent Card</label>

        <p-select
          [options]="agentOptions"
          [placeholder]="'Select an agent card'"
          optionLabel="label"
          optionValue="value"
          [style]="{ width: '100%' }"
          (onChange)="onAgentCardChange($event)">
          <ng-template #selectedItem let-selectedOption>
            <div style="display: flex; align-items: center; gap: 10px" *ngIf="selectedOption">
              <img [src]="selectedOption.assets?.image?.url" style="width: 18px" />
              <div>{{ selectedOption.label }}</div>
            </div>
          </ng-template>
          <ng-template let-item #item>
            <div style="display: flex; gap: 10px">
              <img [src]="item.assets?.image?.url" style="width: 18px" />
              <div>{{ item?.label }}</div>
            </div>
          </ng-template>
          <ng-template #dropdownicon>
            <i class="pi pi-microchip-ai"></i>
          </ng-template>
          <ng-template #header>
            <div style="font-weight: bold">Available Agent Cards</div>
          </ng-template>
          <ng-template #footer>
            <div style="display: flex; justify-content: flex-end">
              <p-button label="Add New" fluid severity="secondary" text size="small" icon="pi pi-plus" />
            </div>
          </ng-template>
        </p-select>
      </div>

      <div class="field">
        <label>Fuentes de información</label>
        <p-select [options]="sources" [placeholder]="'Select an agent card'" [style]="{ width: '100%' }" (onChange)="addSourceToTask($event)">
          <ng-template #selectedItem let-selectedOption>
            <div style="display: flex; align-items: center; gap: 10px" *ngIf="selectedOption">
              <img [src]="selectedOption.assets?.image?.url" style="width: 18px" />
              <div>{{ selectedOption.name }}</div>
            </div>
          </ng-template>
          <ng-template let-item #item>
            <div style="display: flex; gap: 10px">
              <img [src]="item.assets?.image?.url" style="width: 18px" />
              <div>{{ item?.name }}</div>
            </div>
          </ng-template>

          <ng-template #dropdownicon>
            <i class="pi pi-file-import"></i>
          </ng-template>
        </p-select>

        <div style="margin-top: 10px; display: flex; flex-wrap: wrap; gap: 10px">
          @for (source of taskForm.get('sources')?.value; track source.id) {
          <p-chip [label]="source.name" [removable]="true" (onRemove)="removeSource(source)" class="mr-2 mb-2"> </p-chip>
          }
        </div>
      </div>

      <div class="form-field">
        <label for="taskType" class="block">Task Type</label>
        <br />
        <p-dropdown id="taskType" [options]="taskTypes" formControlName="taskType" placeholder="Select Task Type" class="w-full"> </p-dropdown>
      </div>

      @if (taskForm.controls.taskType.value === 'post_notion') {
      <div style="display: flex; gap: 10px">
        <div class="form-field">
          <label for="idNotionDB" class="block" pTooltip="El agente tiene dominio sobre esta base de datos">Notion DB Id</label>
          <p-select
            styleClass="w-full"
            id="idNotionDB"
            [options]="dbOptions"
            optionLabel="name"
            optionValue="id"
            formControlName="idNotionDB"
            placeholder="Select Notion DB"
            class="w-full">
          </p-select>
        </div>
        <p-button (onClick)="getNotionDBs()" pTooltip="Buscar bases en Notion" severity="secondary" size="small" icon="pi pi-plus" />
      </div>
      }

      <div class="form-field">
        <label for="description" class="block">Description</label>
        <textarea
          class="textmin"
          rows="3"
          pInputTextarea
          id="description"
          formControlName="description"
          placeholder="Enter task description"></textarea>
      </div>

      <!-- <div class="field">
        <label for="sources">Sources</label>
        <div class="p-inputgroup">
          <p-autoComplete
            lazy="true"
            [suggestions]="sourceSuggestions"
            optionLabel="name"
            optionValue="id"
            [dropdown]="true"
            placeholder="Select a source"
            (onSelect)="selectSource($event)">
          </p-autoComplete>
          <button pButton type="button" icon="pi pi-plus" (click)="addSource()" [disabled]="!selectedSource"></button>
        </div>
        <br />
        <div class="selected-sources mt-2">
          <p-chip
            *ngFor="let source of taskForm.get('sources')?.value"
            [label]="source.name"
            [removable]="true"
            (onRemove)="removeSource(source)"
            class="mr-2 mb-2">
          </p-chip>
        </div>
      </div> -->

      <div class="form-field">
        <label for="status" class="block">Status</label>
        <br />
        <p-dropdown id="status" [options]="statuses" formControlName="status" placeholder="Select Status" class="w-full"> </p-dropdown>
      </div>

      <dc-provider-selector [parentForm]="taskForm"></dc-provider-selector>

      <div class="flex justify-content-end mt-4">
        <p-button type="submit" label="Save Task" [disabled]="!taskForm.valid" icon="pi pi-check" iconPos="right"> </p-button>
      </div>
    </form>
  </p-card>
</div>
